{% extends "layout.html" %}

{% block title %}
    About  
{% endblock %}


{% block main %}
<div id="projects-wrapper" class="inselecionavel">
    <h2><span>1st January 2022</span>Time left</h2>
        <div id="countdown" class="countdown">
            <div id="days">
            </div>
            <div id="hours">
            </div>
            <div id="minutes">
            </div>
            <div id="seconds">
            </div>
        </div>
</div>
<div id="projects-wrapper2" class="inselecionavel">
    <div id="textWrapper">
    <h2 class="AboutText" id="start">Hi! 
        So my name is Tomas, 
        I’m a 21 years old computer science student from Brazil,
        I decided to develop this web application game for I wanted to help in some way with a project called Team Seas,
        organized by youtubers <a class="hoverA" href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA">Mr. Beast</a> and <a class="hoverA" href="https://www.youtube.com/c/MarkRober">Mark Rober</a>.</h2><h2 class="AboutText">
            So <a class="hoverA" href="https://teamseas.org/">Team Seas </a> consists of a organization that is taking 1 pound of trash out of the ocean for every dollar donated,
        I wanted to make a fun little game that could maybe help out with that project!</h2>
        <h2 class="AboutText">
        Our seas are very poluted everywhere in the world so I hope I can (through this game)
        help raise awareness about the urgent need to clean and most importantly stop polluting our oceans.</h2>
        <h2 class="AboutText">To clarify I have no association with Team Seas, only a random dude trying to help out! 
        This website is 100% meant to help and if any of the creators mentioned in here want the site down,
        or their image or associated things removed you can email me at teamseasthegame@gmail.com and I will have it removed,</h2>
        <h2 class="AboutText">
        I receive no profit from this, I’m even paying the domain to hold it so it is made to help, hopefully it does :)</h2>
        <h2 class="AboutText">
        Go donate to Team Seas for they’re awsome —> <a class="hoverA" href="https://teamseas.org/">Team Seas</a></h2>
        
        <h2 class="AboutText">
        Team seas has a objective to raise 30 million dollars before 1st of January 2022, 
        but even after that date the money donated will keep being used for the good of some turtles and fish which are laying around and strugglin 
        to find a nice place to put their pc gamer for there is trash everywhere.</h2>
        
        <h2 class="AboutText">
        A little bit about the game is this: 
        You are a fish living in the polluted seas and as a smart 
        fish you decide to collect coins to donate to Team Seas to clean the oceans up, 
        the levels get progressivly harder and more challenging but you also get more money… 
        but there are places where you need just a little bit of money to clean up and others where you need 
        Mr. Beast’s fortune to do it so have fun while avoiding trash and collecting money to buy whatever from the 
        store :P </h2>
        
        <h2 class="AboutText">
        This web Application was developed for the final project of Havard’s CS50 course.</h2>
    </div>
</div>
<script src="/static/counter.js"></script>
{% endblock %}