{% extends "layout.html" %}

{% block title %}
    Yay
{% endblock %}

{% block main %}
    <img alt="{{ variable }}" class="border" src="http://memegen.link/custom/{{ text }}/{{ variable + dolars }}.jpg?alt=https://i.imgur.com/i6Vvabm.png" title="{{ variable }}">
    
    <div id="playAgain">
        <a href="/game" style="padding-right: 1vw;"><button class="btn btn-primary">Play Again</button></a>
        <a href="/store"><button class="btn btn-primary">Store</button></a>
    </div>
    <!-- Does not allow page to be refreshed-->
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock %}
